body{
    background-color: black;
    color: chocolate;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    color:rgb(12, 183, 32);
  }
  
  a:active {
    color:orange;
  }
  

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
background-color: orange;
color: black;
}


#navbar{
background-color:black;
}

#navbar ul{
padding: 0%;
list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#navbar a:hover{

    color: blue;
}


#showcase{

    background-image: url('https://besthqwallpapers.com/Uploads/21-9-2020/141561/black-geometric-shapes-4k-geometric-patterns-wavy-backgrounds-3d-figures.jpg');
    color:white;
    background-position: center center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: white;
    font-size: 40px;
    line-height: 1.6em;
    padding-top:none;
}
#main{
    float: left;
    width: 70%;
    padding-top: 10px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color:white ;
    color:black ;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{

    background:white;
    color:chocolate ;
    text-align: center;
    padding: 20px;
    margin-top: 40x;
}

@media (max-width:600px){
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }
}

#main-footer{
    background-color: chocolate;
    color: black;
    text-align: center;
    font-size: 20px;
}

